Common/bin/Debug/net6.0/Common.dll
Common/bin/Debug/net6.0/ref/Common.dll
Common/obj/project.nuget.cache
Common/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Common/obj/Debug/net6.0/Common.AssemblyInfo.cs
Common/obj/Debug/net6.0/Common.AssemblyInfoInputs.cache
Common/obj/Debug/net6.0/Common.assets.cache
Common/obj/Debug/net6.0/Common.csproj.CoreCompileInputs.cache
Common/obj/Debug/net6.0/Common.csproj.FileListAbsolute.txt
Common/obj/Debug/net6.0/Common.dll
Common/bin/Debug/net6.0/Common.deps.json
Common/bin/Debug/net6.0/Common.pdb
Common/obj/Common.csproj.nuget.dgspec.json
Common/obj/Common.csproj.nuget.g.props
Common/obj/Common.csproj.nuget.g.targets
Common/obj/project.assets.json
Common/obj/Debug/net6.0/Common.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Debug/net6.0/Common.GlobalUsings.g.cs
Common/obj/Debug/net6.0/Common.pdb
Common/obj/Debug/net6.0/ref/Common.dll
Entities/bin/Debug/net6.0/Entities.deps.json
Entities/bin/Debug/net6.0/Entities.dll
Entities/bin/Debug/net6.0/Entities.pdb
Entities/bin/Debug/net6.0/ref/Entities.dll
Entities/obj/Entities.csproj.nuget.dgspec.json
Entities/obj/Entities.csproj.nuget.g.props
Entities/obj/Entities.csproj.nuget.g.targets
Entities/obj/project.assets.json
Entities/obj/project.nuget.cache
Entities/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Entities/obj/Debug/net6.0/Entities.AssemblyInfo.cs
Entities/obj/Debug/net6.0/Entities.AssemblyInfoInputs.cache
Entities/obj/Debug/net6.0/Entities.assets.cache
Entities/obj/Debug/net6.0/Entities.csproj.CoreCompileInputs.cache
Entities/obj/Debug/net6.0/Entities.csproj.FileListAbsolute.txt
Entities/obj/Debug/net6.0/Entities.dll
Entities/obj/Debug/net6.0/Entities.GeneratedMSBuildEditorConfig.editorconfig
Entities/obj/Debug/net6.0/Entities.GlobalUsings.g.cs
Entities/obj/Debug/net6.0/Entities.pdb
Entities/obj/Debug/net6.0/ref/Entities.dll
Repository/bin/Debug/net6.0/Entities.dll
Repository/bin/Debug/net6.0/Entities.pdb
Repository/bin/Debug/net6.0/Repository.deps.json
Repository/bin/Debug/net6.0/Repository.dll
Repository/bin/Debug/net6.0/Repository.pdb
Repository/bin/Debug/net6.0/Repository.runtimeconfig.json
Repository/bin/Debug/net6.0/ref/Repository.dll
Repository/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Repository/obj/Debug/net6.0/Repository.AssemblyInfo.cs
Repository/obj/Debug/net6.0/Repository.AssemblyInfoInputs.cache
Repository/obj/Debug/net6.0/Repository.assets.cache
Repository/obj/Debug/net6.0/Repository.csproj.AssemblyReference.cache
Repository/obj/Debug/net6.0/Repository.csproj.CopyComplete
Repository/obj/Debug/net6.0/Repository.csproj.CoreCompileInputs.cache
Repository/obj/Debug/net6.0/Repository.csproj.FileListAbsolute.txt
Repository/obj/Debug/net6.0/Repository.dll
Repository/obj/project.assets.json
Repository/obj/project.nuget.cache
Repository/obj/Repository.csproj.nuget.dgspec.json
Repository/obj/Repository.csproj.nuget.g.props
Repository/obj/Repository.csproj.nuget.g.targets
Repository/obj/Debug/net6.0/Repository.GeneratedMSBuildEditorConfig.editorconfig
Repository/obj/Debug/net6.0/Repository.genruntimeconfig.cache
Repository/obj/Debug/net6.0/Repository.GlobalUsings.g.cs
Repository/obj/Debug/net6.0/Repository.pdb
Repository/obj/Debug/net6.0/ref/Repository.dll
Web/obj/Debug/net6.0/project.razor.json
Web/obj/Debug/net6.0/staticwebassets.build.json
Web/obj/Debug/net6.0/staticwebassets.development.json
Web/obj/Debug/net6.0/Web.AssemblyInfo.cs
Web/obj/Debug/net6.0/Web.AssemblyInfoInputs.cache
Web/obj/Debug/net6.0/Web.assets.cache
Web/obj/Debug/net6.0/Web.csproj.AssemblyReference.cache
Web/obj/Debug/net6.0/Web.csproj.CopyComplete
Web/obj/Debug/net6.0/Web.csproj.CoreCompileInputs.cache
Web/obj/Debug/net6.0/Web.csproj.FileListAbsolute.txt
Web/obj/Debug/net6.0/Web.dll
Web/obj/Debug/net6.0/Web.GeneratedMSBuildEditorConfig.editorconfig
Web/obj/Debug/net6.0/Web.genruntimeconfig.cache
Web/obj/Debug/net6.0/Web.GlobalUsings.g.cs
Web/obj/Debug/net6.0/Web.MvcApplicationPartsAssemblyInfo.cache
Web/obj/Debug/net6.0/Web.pdb
Web/obj/Debug/net6.0/Web.RazorAssemblyInfo.cache
Web/obj/Debug/net6.0/Web.RazorAssemblyInfo.cs
Web/obj/Debug/net6.0/ref/Web.dll
Web/obj/Debug/net6.0/scopedcss/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css
Web/obj/Debug/net6.0/scopedcss/bundle/Web.styles.css
Web/obj/Debug/net6.0/scopedcss/projectbundle/Web.bundle.scp.css
Web/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
Web/bin/Debug/net6.0/appsettings.Development.json
Web/bin/Debug/net6.0/appsettings.json
Web/bin/Debug/net6.0/AutoMapper.dll
Web/bin/Debug/net6.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
Web/bin/Debug/net6.0/Common.dll
Web/bin/Debug/net6.0/Common.pdb
Web/bin/Debug/net6.0/Dapper.dll
Web/bin/Debug/net6.0/dotnet-aspnet-codegenerator-design.dll
Web/bin/Debug/net6.0/Entities.dll
Web/bin/Debug/net6.0/Entities.pdb
Web/bin/Debug/net6.0/Humanizer.dll
Web/bin/Debug/net6.0/MessagePack.Annotations.dll
Web/bin/Debug/net6.0/MessagePack.dll
Web/bin/Debug/net6.0/Microsoft.AspNetCore.Identity.EntityFrameworkCore.dll
Web/bin/Debug/net6.0/Microsoft.AspNetCore.Razor.Language.dll
Web/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
Web/bin/Debug/net6.0/Microsoft.Build.dll
Web/bin/Debug/net6.0/Microsoft.Build.Framework.dll
Web/bin/Debug/net6.0/Microsoft.Build.Tasks.Core.dll
Web/bin/Debug/net6.0/Microsoft.Build.Utilities.Core.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Features.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.Features.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.Razor.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.Scripting.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Features.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.dll
Web/bin/Debug/net6.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
Web/bin/Debug/net6.0/Microsoft.Data.SqlClient.dll
Web/bin/Debug/net6.0/Microsoft.DiaSymReader.dll
Web/bin/Debug/net6.0/Microsoft.DotNet.Scaffolding.Shared.dll
Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
Web/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.SqlServer.dll
Web/bin/Debug/net6.0/Microsoft.Identity.Client.dll
Web/bin/Debug/net6.0/Microsoft.IdentityModel.JsonWebTokens.dll
Web/bin/Debug/net6.0/Microsoft.IdentityModel.Logging.dll
Web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.dll
Web/bin/Debug/net6.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Web/bin/Debug/net6.0/Microsoft.IdentityModel.Tokens.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Debugger.Contracts.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
Web/bin/Debug/net6.0/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
Web/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Web/bin/Debug/net6.0/Newtonsoft.Json.dll
Web/bin/Debug/net6.0/NuGet.Common.dll
Web/bin/Debug/net6.0/NuGet.Configuration.dll
Web/bin/Debug/net6.0/NuGet.DependencyResolver.Core.dll
Web/bin/Debug/net6.0/NuGet.Frameworks.dll
Web/bin/Debug/net6.0/NuGet.LibraryModel.dll
Web/bin/Debug/net6.0/NuGet.Packaging.dll
Web/bin/Debug/net6.0/NuGet.ProjectModel.dll
Web/bin/Debug/net6.0/NuGet.Protocol.dll
Web/bin/Debug/net6.0/NuGet.Versioning.dll
Web/bin/Debug/net6.0/Repository.dll
Web/bin/Debug/net6.0/Repository.pdb
Web/bin/Debug/net6.0/System.CodeDom.dll
Web/bin/Debug/net6.0/System.Composition.AttributedModel.dll
Web/bin/Debug/net6.0/System.Composition.Convention.dll
Web/bin/Debug/net6.0/System.Composition.Hosting.dll
Web/bin/Debug/net6.0/System.Composition.Runtime.dll
Web/bin/Debug/net6.0/System.Composition.TypedParts.dll
Web/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Web/bin/Debug/net6.0/System.Drawing.Common.dll
Web/bin/Debug/net6.0/System.IdentityModel.Tokens.Jwt.dll
Web/bin/Debug/net6.0/System.Resources.Extensions.dll
Web/bin/Debug/net6.0/System.Runtime.Caching.dll
Web/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Web/bin/Debug/net6.0/System.Security.Permissions.dll
Web/bin/Debug/net6.0/System.Windows.Extensions.dll
Web/bin/Debug/net6.0/Web.deps.json
Web/bin/Debug/net6.0/Web.dll
Web/bin/Debug/net6.0/Web.exe
Web/bin/Debug/net6.0/Web.pdb
Web/bin/Debug/net6.0/Web.runtimeconfig.json
Web/bin/Debug/net6.0/Web.staticwebassets.runtime.json
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/ref/Web.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Web/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Web/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
Web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
Web/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Web/bin/Debug/net6.0/runtimes/win-arm/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
Web/bin/Debug/net6.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
Web/bin/Debug/net6.0/runtimes/win-arm64/lib/net6.0/dotnet-aspnet-codegenerator-design.exe
Web/bin/Debug/net6.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
Web/bin/Debug/net6.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
Web/bin/Debug/net6.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
Web/bin/Debug/net6.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
Web/obj/project.assets.json
Web/obj/project.nuget.cache
Web/obj/staticwebassets.pack.sentinel
Web/obj/Web.csproj.nuget.dgspec.json
Web/obj/Web.csproj.nuget.g.props
Web/obj/Web.csproj.nuget.g.targets
Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Web/obj/Debug/net6.0/apphost.exe
Database/bin/Debug/Database.pdb
Database/obj/Debug/Database.dll
Web/obj/Debug/net6.0/scopedcss/Areas/Customer/Views/Shared/_CustomerLayout.cshtml.rz.scp.css
Database/bin/Debug/Database.dll
Database/obj/Debug/Database.pdb
Common/obj/Debug/net6.0/Common.csproj.AssemblyReference.cache
Database/obj/Debug/Model.xml
Database/obj/Debug/Database.sqlproj.FileListAbsolute.txt
Database/bin/Debug/Database.dacpac
.vs/Portal/v17/.suo
Web/bin/Debug/net6.0/AspNetCoreHero.ToastNotification.dll
Entities/obj/Debug/net6.0/Entities.csproj.AssemblyReference.cache
Web/obj/Debug/net6.0/Web.MvcApplicationPartsAssemblyInfo.cs
Web/bin/Debug/net6.0/AspNetCoreHero.ToastNotification.Views.dll
Database/obj/Debug/Database.sqlproj.AssemblyReference.cache
.vs/Portal/DesignTimeBuild/.dtbcache.v2
.vs/Portal/v17/.futdcache.v1
Database/Database.jfm
.vs/Portal/project-colors.json
.vs/Portal/v17/HierarchyCache.v1.txt
Database/Database.dbmdl
