
@{
    ViewData["Title"] = "Index";
}

<h1>Customer Dashboard</h1>


<br/>
<input type="text"  id="txtDate"/>

@section scripts {

<script type="text/javascript">
    $(document).ready(function(){
        swal("Hello");
        $("#txtDate").datepicker();
    });
</script>

}