@model IEnumerable<Web.Areas.Admin.Models.Dtos.ProductListingDTO>

@{
    ViewData["Title"] = "Products List";
}
<style>
    .text-right {
        text-align: right !important;
    }
</style>
<div class="row">
    <div class="col-6">
        <h1 class="text-primary">Products List</h1>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Product</a>
    </div>
</div>
<br />