@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <input type="text" id="txtDate" />
</div>


@section scripts {

<script type="text/javascript">
    $(document).ready(function(){
        
        //swal("Hello");
        $("#txtDate").datepicker();
    });
</script>

}